@model HMS.Areas.Dashboard.ViewModels.AccomodationPackageActionModel
@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">

                @if (Model.ID > 0)
                {
                    <span>Edit Accomodation Package</span>
                }
                else
                {
                    <span>Create Accomodation Package</span>
                }
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @* This is the Id and form *@
            <form id="actionForm">
                @* This is the Id that will be passed if it's for edit *@
                <input type="hidden" name="ID" value="@Model.ID" />
                <div class="form-group">
                    
                    <label>Accomodation Type</label>
                    <select class="form-control" name="AccomodationTypeID">
                        @if (Model.AccomodationTypes != null)
                        {
                            foreach (var accomodationType in Model.AccomodationTypes)
                            {
                                <option value="@accomodationType.ID" @(accomodationType.ID == Model.AccomodationTypeID ? "selected" : string.Empty)>
                                    @accomodationType.Name
                                </option>
                            }
                        }
                    </select>
                    <label>Name</label>
                    @* This is the name that will be sent *@
                    <input class="form-control" name="Name" placeholder="Enter Accomodation Package Name" value="@Model.Name">

                </div>

                <div class="form-group">
                    <label>No Of Rooms</label>
                    @* This is the description that will be sent *@
                    <textarea class="form-control" name="NoOfRoom" placeholder="Enter No Of Rooms">@Model.NoOfRoom</textarea>
                </div>
                <div class="form-group">
                    <label>Fee Per Night</label>
                    @* This is the description that will be sent *@
                    <textarea class="form-control" name="FeePerNight" placeholder="Enter No Of Rooms">@Model.FeePerNight</textarea>
                </div>

            </form>

            <div class="errorDiv">

            </div>
        </div>
        <div class="modal-footer">
            <button id="actionButton" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i>Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-window-close mr-1"></i> Close</button>
        </div>
    </div>

}
@* This is a script that when the action botton is clicked, the information is sent to the Accomodationtype controller in the Action method *@
@* Thus is done by post method and if it's successful, it should reload to print the fresh save information *@
<script>
    $("#actionButton").click(function() {

        $.ajax({
                url: '@Url.Action("Action", "AccomodationPackages")',
                type: "post",
                data: $("#actionForm").serialize()
            })
            .done(function (response) {
                if(response.Success)
                {
                    // Data is save reload page
                    location.reload();
                }
                else {
                    $(".errorDiv").html(response.Message);
                }
            });

    });



</script>